@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

input,
button {
	outline: none !important;
}

.ts-logo {
	transition: text-shadow 250ms ease-in-out;
	text-shadow: -3px 3px 0 #0a0a0a;
}
.ts-logo:hover {
	text-shadow: 3px -3px 0 #0a0a0a;
}

.ts-nav-link {
	text-shadow: 0 0 0 #0a0a0a;
}
.ts-nav-link:hover {
	@apply opacity-100;
	text-shadow: 2px 2px 0 #0a0a0a;
}
.ts-nav-link-active {
	text-shadow: 2px 2px 0 #0a0a0a;
}
